.benefits__wrapper {
  padding: 46px 20px 60px;

  text-align: center;

  @media (min-width: $tablet) {
    padding: 48px 20px 100px;
  }

  @media (min-width: $desktop) {
    padding: 95px 20px 119px;
    margin: 0 auto;

    max-width: 1360px;
  }
}

.benefits__sign {
  margin: 0 auto 6px;

  @media (min-width: $tablet) {
    margin: 0 auto 4px;
  }
}

.benefits__title {
  margin: 0 auto 36px;

  @media (min-width: $tablet) {
    margin: 0 auto 60px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 80px;
  }
}

.benefits__list {
  @include list-style;

  display: flex;
  flex-direction: column;
  gap: 33px;

  margin: 0 auto;
  max-width: 280px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;

    max-width: 708px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 30px;

    max-width: unset;
  }
}

.benefits__item {
  &--speed {
    background-image: url("../../icons/stack.svg#benefit-speed");
  }

  &--fit {
    background-image: url("../../icons/stack.svg#benefit-fit");

    & .benefit__description {
      max-width: 235px;
    }
  }

  &--energy {
    background-image: url("../../icons/stack.svg#benefit-energy");
  }

  &--eco {
    background-image: url("../../icons/stack.svg#benefit-eco");
  }
}

@media (min-width: $tablet) {
  .benefits__item--fit .benefit__description {
    max-width: unset;
  }

  .benefits__item--speed {
    background-position: top 4px left;
  }

  .benefits__item--eco {
    background-position: top 4px left;
  }
}

@media (min-width: $desktop) {
  .benefits__item--fit .benefit__description {
    max-width: 270px;

    margin: 0 auto;
  }

  .benefits__item--speed {
    background-position: top center;
  }

  .benefits__item--eco {
    background-position: top center;
  }
}
