.benefit {
  padding: 65px 0 0;

  background-position: top center;
  background-repeat: no-repeat;
  background-size: 52px 56px;

  @media (min-width: $tablet) {
    padding: 0 0 0 72px;

    background-position: top left;

    text-align: left;
  }

  @media (min-width: $desktop) {
    padding: 76px 0 0;

    background-position: top center;

    text-align: center;
  }
}

.benefit__title {
  margin: 0 0 4px;

  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-weight: 700;

  @media (min-width: $tablet) {
    margin: 0 0 10px;

    font-size: 24px;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    text-align: center;
  }
}

.benefit__description {
  margin: 0 auto;

  @media (min-width: $tablet) {
    margin: 0;
  }
}
