.catalog-cards {
  @include list-style;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog-cards__item {
  background-color: $base-white;

  padding: 40px 20px 20px;

  border-radius: 4px;

  @media (min-width: $tablet) {
    padding: 50px 30px 30px;
  }
}

.catalog-cards__item:hover,
.catalog-cards__item:focus-visible {
  outline: none;

  box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.15);
}

.catalog-cards__link {
  text-decoration: none;

  color: $base-black;
}

.catalog-cards__link:hover,
.catalog-cards__link:focus-visible {
  outline: none;

  opacity: 0.8;
}

.catalog-cards__link:active {
  opacity: 0.6;
}

.catalog-cards__image {
  display: block;

  margin: 0 auto 24px;

  @media (min-width: $tablet) {
    margin: 0 auto 31px;
  }
}

.catalog-cards__text {
  text-align: left;
}

.catalog-cards__title {
  margin: 0 0 4px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: capitalize;

  @media (min-width: $tablet) {
    margin: 0 0 9px;

    font-size: 24px;
    line-height: 36px;
  }
}

.catalog-cards__description {
  margin: 0 0 16px;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 20px;

    margin: 0 0 20px;
  }
}

.catalog-cards__order {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-cards__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.catalog-cards__button {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  &--cart {
    padding: 8px 20px 8px 46px;

    background-image: url("../../icons/stack.svg#add-cart");
    background-repeat: no-repeat;
    background-size: 20px 16px;
    background-position: top 50% left 20px;
  }
}

