.checkbox label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox__input {
  appearance: none;

  box-sizing: border-box;

  width: 42px;
  height: 24px;

  margin: 0;

  border: 2px solid $base-grey;
  border-radius: 12px;

  background-color: $base-grey;

  position: relative;

  transition: background-color 0.3s;

  &::before {
    content: "";
    position: absolute;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background-color: $base-white;

    left: 0;
    top: 50%;

    transform: translateY(-50%);

    transition: left 0.3s;
  }
}

.checkbox__input:checked {
  background-color: $base-primary;

  border-color: $base-primary;

  &::before {
    left: calc(100% - 20px);
  }
}

.checkbox__input:hover,
.checkbox__input:focus-visible {
  outline: none;

  border-color: $primary-lighter;

  background-color: rgb(120, 89, 207, 0.25);
}

.checkbox__input:disabled {
  pointer-events: none;

  background-color: $primary-light-grey;

  border-color: $primary-light-grey;

  &::before {
    background-color: $lightest-grey;
  }
}

.checkbox__input:disabled:checked {
  pointer-events: none;

  background-color: $primary-light-grey;

  border-color: $primary-light-grey;

  &::before {
    background-color: $base-grey;
  }
}

.checkbox__label {
  font-size: 16px;
  line-height: 24px;

  max-width: 220px;

  @media (min-width: $tablet) {
    max-width: 170px;
  }

  @media (min-width: $desktop) {
    max-width: 255px;
  }
}

.checkbox--disabled .checkbox__label {
  color: $base-grey;
}
