.footer-nav {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 318px);

    padding: 40px 0 0;
  }
}

.footer-nav__social {
  padding: 20px 0 17px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: calc(100% + 40px);
    height: 1px;

    background-color: $base-secondary;

    bottom: 0;
    left: -20px;
  }

  @media (min-width: $tablet) {
    padding: 40px 0 17px;

    grid-area: 1 / 1 / 2 / -1;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding: 0;

    grid-area: unset;

    flex-direction: column;
    align-items: start;
    justify-content: unset;
  }
}

.footer-nav__logo {
  text-decoration: none;

  @media (min-width: $desktop) {
    margin: 0 0 51px;
  }
}

.footer-nav__logo:hover,
.footer-nav__logo:focus-visible {
  outline: none;

  opacity: 0.8;
}

.footer-nav__logo:active {
  opacity: 0.6;
}

.footer-nav__image {
  margin: 0 0 2px;
}

.footer-nav__logo-text {
  display: none;

  @media (min-width: $desktop) {
    display: block;

    margin: 0;

    font-size: 14px;
    line-height: 20px;

    color: $base-black;
  }
}

.footer-nav__title {
  margin: 0 0 16px;

  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: 700;

  color: $base-primary;

  @media (min-width: $tablet) {
    margin: 0 0 15px;
  }
}

.footer-nav__eshop {
  padding: 20px 0 29px;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: calc(100% + 40px);
    height: 1px;

    background-color: $base-secondary;

    bottom: 0;
    left: -20px;
  }

  @media (min-width: $tablet) {
    padding: 6px 0 0;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding: 9px 0 0;
  }
}

.footer-nav__media {
  padding: 20px 0 29px;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: calc(100% + 40px);
    height: 1px;

    background-color: $base-secondary;

    bottom: 0;
    left: -20px;
  }

  @media (min-width: $tablet) {
    padding: 6px 0 0;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding: 9px 0 0;
  }
}

.footer-nav__contacts {
  padding: 20px 0 21px;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: calc(100% + 40px);
    height: 1px;

    background-color: $base-secondary;

    bottom: 0;
    left: -20px;
  }

  @media (min-width: $tablet) {
    padding: 6px 0 0;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding: 9px 0 0;
  }

  & .footer-nav__title {
    margin: 0 0 19px;

    @media (min-width: $tablet) {
      margin: 0 0 20px;
    }
  }
}

.footer-nav__list {
  @include list-style;
}

.footer-nav__item {
  padding: 0 0 0 19px;

  background-repeat: no-repeat;
  background-size: 13px 16px;
  background-position: left top 3px;

  &--address {
    background-image: url("../../icons/stack.svg#address");
  }

  &--phone {
    background-image: url("../../icons/stack.svg#phone");
  }
}

.footer-nav__item:not(:last-of-type) {
  margin: 0 0 16px;

  @media (min-width: $tablet) {
    margin: 0 0 15px;
  }
}

.footer-nav__link {
  color: $base-black;

  text-decoration: none;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 20px;
  }
}

.footer-nav__link:hover,
.footer-nav__link:focus-visible {
  outline: none;

  color: $primary-lighter;
}

.footer-nav__link:active {
  color: $primary-darker;
}
