.footer-site-list {
  @include list-style;
}

.footer-site-list__item:not(:last-of-type) {
  margin: 0 0 16px;

  @media (min-width: $tablet) {
    margin: 0 0 12px;
  }
}

.footer-site-list__link {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  color: $base-black;
}

.footer-site-list__link:hover,
.footer-site-list__link:focus-visible {
  color: $primary-lighter;

  outline: none;
}

.footer-site-list__link:active {
  color: $primary-darker;
}
