.hero {
  &--bg-1 {
    background-color: $flat-white;

    @media (min-width: $tablet) {
      background-color: unset;
      background-image: linear-gradient(to bottom, $flat-white calc(100% - 194px), $base-white calc(100% - 194px));
    }

    @media (min-width: $desktop) {
      background-color: $flat-white;
      background-image: none;
    }
  }

  &--bg-2 {
    background-color: $lavender-latte;

    @media (min-width: $tablet) {
      background-color: unset;
      background-image: linear-gradient(to bottom, $lavender-latte calc(100% - 194px), $base-white calc(100% - 194px));
    }

    @media (min-width: $desktop) {
      background-color: $lavender-latte;
      background-image: none;
    }
  }

  &--bg-3 {
    background-color: $espresso;

    @media (min-width: $tablet) {
      background-color: unset;
      background-image: linear-gradient(to bottom, $espresso calc(100% - 194px), $base-white calc(100% - 194px));
    }

    @media (min-width: $desktop) {
      background-color: $espresso;
      background-image: none;
    }
  }
}

.hero__wrapper {
  padding: 0 20px;
  margin: 0 auto;

  max-width: 280px;

  @media (min-width: $tablet) {
    max-width: 728px;
  }

  @media (min-width: $desktop) {
    max-width: 1400px;
  }
}
