.pagination {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet) {
    justify-content: end;
  }
}

.pagination__list {
  @include list-style;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.pagination__button {
  display: inline-block;

  width: 40px;
  height: 40px;

  background-color: $base-white;

  border-radius: 4px;
  border: none;

  background-image: url("../../icons/stack.svg#arrow-purple-down");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;

  &--prev {
    transform: rotate(90deg);
  }

  &--next {
    transform: rotate(-90deg);
  }

  @media (min-width: $tablet) {
    width: unset;

    background-image: unset;

    &--prev {
      transform: none;

      padding: 9px 20px;
    }

    &--next {
      transform: none;

      padding: 9px 20px 9px 21px;
    }
  }
}

.pagination__button-text {
  display: none;

  @media (min-width: $tablet) {
    display: inline;

    letter-spacing: 1.3px;
  }
}

.pagination__link {
  box-sizing: border-box;

  min-width: 40px;

  padding: 8px;

  letter-spacing: 1.3px;

  &--current {
    font-weight: 600;

    background-color: transparent;
    color: $base-black;
  }
}
