.radio label {
  display: flex;
  align-items: center;
  gap: 11px;
}

.radio__input {
  appearance: none;

  box-sizing: border-box;

  width: 20px;
  height: 20px;

  outline: 2px solid $base-grey;
  border: 2px solid $base-white;
  border-radius: 50%;

  background-color: $base-white;

  margin: 0;

  cursor: pointer;

  transition: outline 0.3s, border 0.3s, background-color 0.3s;
}


.radio__input:checked {
  outline: 2px solid $base-primary;

  background-color: $base-primary;
}

.radio__input:hover,
.radio__input:focus-visible {
  outline: 2px solid $primary-lighter;
  outline-offset: 0;

  background-color: rgb(120, 89, 207, 0.25);
}

.radio__input:disabled {
  pointer-events: none;

  background-color: transparent;

  border-color: transparent;
  outline: 2px solid $primary-light-grey;
}

.radio__input:disabled:checked {
  pointer-events: none;

  background-color: $primary-light-grey;

  border-color: $lightest-grey;
  outline: 2px solid $primary-light-grey;
}

.radio__label {
  font-size: 16px;
  line-height: 24px;

  max-width: 240px;

  @media (min-width: $tablet) {
    max-width: 180px;
  }

  @media (min-width: $desktop) {
    max-width: 270px;
  }
}

.radio--disabled .radio__label {
  color: $base-grey;
}
