.range {
  padding: 10px 0 1px;
}

.range__container {
  width: 100%;
  height: 2px;

  position: relative;

  margin: 0 0 36px;

  box-shadow: unset;

  @media (min-width: $tablet) {
    margin: 0 0 32px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 33px;
  }
}

.range__container.noUi-target {
  border: unset;
  border-radius: 0;

  box-shadow: unset;
}

.range__container .noUi-connects {
  position: relative;

  background-color: $primary-light-grey;

  border-radius: 0;

  overflow: unset;

  width: calc(100% - 5px);
}

.range__container .noUi-connect {
  position: absolute;
  height: 4px;

  top: -50%;

  background-color: $primary-lighter;
}

.range__container .noUi-handle {
  position: absolute;

  top: calc(50% + 1px);

  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  background-color: $base-white;

  border: 2px solid $primary-lighter;
  border-radius: 50%;

  cursor: pointer;

  &::after {
    content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    border-radius: 50%;

    background-color: transparent;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  &::before {
    display: none;
  }
}

.range__container .noUi-handle-lower {
  transform: translate(5px, -50%);
}

.range__container .noUi-handle-upper {
  transform: translate(-9px, -50%);

  @media (min-width: $tablet) {
    transform: translate(-15px, -50%);
  }

  @media (min-width: $desktop) {
    transform: translate(-6px, -50%);
  }
}

.range__container .noUi-handle:focus-visible {
  outline: none;
}

.range__container .noUi-handle:hover::after,
.range__container .noUi-handle:focus-visible::after {
  @media (min-width: $desktop) {
    background-color: rgb(120, 89, 207, 0.25);
  }
}

.range__container .noUi-handle:active {
  border: 2px solid $base-primary;
}

.range__container .noUi-handle:active::after {
  background-color: $base-primary;
}

.range__container .noUi-handle:disabled {
  border: 2px solid $base-grey;
}

.range--disabled .noUi-handle {
  border: 2px solid $base-grey;

  pointer-events: none;
}

.range__fields {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 100%;
}

.range__field--min {
  display: flex;
  align-items: center;
  gap: 18px;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    background-color: $base-grey;

    width: 8px;
    height: 2px;

    top: calc(50% + 1px);
    right: -26px;

    transform: translateY(-50%);

    @media (min-width: $tablet) {
      top: 50%;
      right: -27px;
    }

    @media (min-width: $desktop) {
      width: 10px;

      right: -30px;
    }
  }
}

.range__input {
  padding: 7px 10px 5px;

  text-align: center;

  border: 2px solid $primary-lighter;
  border-radius: 4px;

  max-width: 118px;

  box-sizing: border-box;

  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  appearance: none;

  &::placeholder {
    color: $base-grey;
  }

  @media (min-width: $tablet) {
    padding: 7px 10px 6px;

    max-width: 87px;
  }

  @media (min-width: $desktop) {
    max-width: 134px;
  }
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.range__input:focus-visible {
  border: 2px solid $primary-darker;

  outline: none;
}

.range__input:disabled {
  color: $base-grey;
  background-color: $lightest-grey;

  border: 2px solid $primary-light-grey;

  pointer-events: none;
}
