.section-sign {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-weight: 700;

  color: $base-primary;

  display: inline-block;

  max-width: 230px;
}
