.slider {
  position: relative;
}

.slider__list {
  @include list-style;
}

.slider__item {
  padding: 20px 0 60px;

  display: none;

  &--current {
    display: block;
  }

  @media (min-width: $tablet) {
    padding: 54px 0 0;

    flex-direction: column-reverse;

    &--current {
      display: flex;
    }
  }

  @media (min-width: $desktop) {
    padding: 30px 0 77px;

    grid-template-columns: 655px 625px;
    justify-content: center;

    &--current {
      display: grid;
    }
  }
}

.slider__image-wrapper {
  margin: 0 0 7px;
}

.slider__image {
  display: block;

  margin: 0 auto;

  max-width: 280px;

  @media (min-width: $tablet) {
    max-width: 728px;
  }

  @media (min-width: $desktop) {
    max-width: 655px;
  }
}

.slider__content {
  text-align: center;

  @media (min-width: $desktop) {
    text-align: left;

    align-self: center;

    margin: -20px 0 0;
  }
}

.slider__note {
  margin: 0 0 4px;
}

.slider__title {
  margin: 0 auto 10px;

  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.7px;
  font-weight: 700;
  text-transform: capitalize;

  max-width: 340px;

  @media (min-width: $tablet) {
    margin: 0 auto 16px;

    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.1px;

    max-width: 600px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 16px;
  }
}

.slider__description {
  margin: 0 auto 20px;

  max-width: 278px;

  @media (min-width: $tablet) {
    max-width: 605px;

    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 40px;
  }
}

.slider__order-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  max-width: 230px;

  @media (min-width: $tablet) {
    margin: 0 auto 20px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.slider__price-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.slider__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;

  &--old {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    text-decoration: line-through;

    color: $base-primary;
  }
}

.slider__item-button {
  padding: 8px 20px;
}

.slider__button {
  position: absolute;

  height: 100%;
  width: 20px;

  background-image: url("../../icons/stack.svg#arrow-purple-left");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  background-color: transparent;

  border: none;

  top: 0;

  cursor: pointer;

  &--prev {
    left: 0;
  }

  &--next {
    background-image: url("../../icons/stack.svg#arrow-purple-right");

    right: 0;
  }

  @media (min-width: $tablet) {
    width: 80px;

    background-position: top 310px center;
  }

  @media (min-width: $desktop) {
    background-position: center;
  }
}

.slider__button:hover,
.slider__button:focus-visible {
  outline: none;

  @media (min-width: $desktop) {
    background-image: url("../../icons/stack.svg#arrow-purple-left"), linear-gradient(to left, transparent, $base-white);
    background-position: center, center;
    background-size: 20px 20px, cover;
  }
}

.slider__button:active {
  -webkit-tap-highlight-color: transparent;

  @media (min-width: $desktop) {
    background-image: url("../../icons/stack.svg#arrow-purple-left"), linear-gradient(to left, transparent, rgb(120, 89, 207, 0.25));
    background-position: center, center;
    background-size: 20px 20px, cover;
  }
}

.slider__button--next:hover,
.slider__button--next:focus-visible {
  @media (min-width: $desktop) {
    background-image: url("../../icons/stack.svg#arrow-purple-right"), linear-gradient(to right, transparent, $base-white);
  }
}

.slider__button--next:active {
  @media (min-width: $desktop) {
    background-image: url("../../icons/stack.svg#arrow-purple-right"), linear-gradient(to right, transparent, rgb(120, 89, 207, 0.25));
  }
}

.slider__button:disabled {
  @media (min-width: $desktop) {
    pointer-events: none;

    background-image: url("../../icons/stack.svg#arrow-grey-left");
  }
}

.slider__button--next:disabled {
  @media (min-width: $desktop) {
    transform: rotate(180deg);
  }
}

.slider__pagination {
  display: none;

  @media (min-width: $desktop) {
    display: flex;

    position: absolute;

    bottom: 74px;
    left: 50%;

    transform: translateX(-50%);
  }
}
