.socials {
  @include list-style;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px 20px;

  max-width: 160px;

  @media (min-width: $tablet) {
    max-width: 340px;
  }

  @media (min-width: $desktop) {
    max-width: 290px;
  }
}

.socials__link {
  display: inline-block;

  padding: 20px;

  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 4px;

  &--vk {
    background-image: url("../../icons/stack.svg#social-vk");
  }

  &--pinterest {
    background-image: url("../../icons/stack.svg#social-pinterest");
    background-size: 22px;
  }

  &--ok {
    background-image: url("../../icons/stack.svg#social-ok");
  }
}

.socials__link:hover,
.socials__link:focus-visible {
  outline: none;

  @media (min-width: $desktop) {
    background-color: $base-secondary;
  }
}

.socials__link:active {
  @media (min-width: $desktop) {
    background-color: rgb(120, 89, 207, 0.25);
  }
}

.socials__link--vk:hover,
.socials__link--vk:focus-visible,
.socials__link--vk:active {
  background-image: url("../../icons/stack.svg#social-vk-color");
}

.socials__link--pinterest:hover,
.socials__link--pinterest:focus-visible,
.socials__link--pinterest:active {
  background-image: url("../../icons/stack.svg#social-pinterest-color");
}

.socials__link--ok:hover,
.socials__link--ok:focus-visible,
.socials__link--ok:active {
  background-image: url("../../icons/stack.svg#social-ok-color");
}

